/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #FFFFFF;
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 2px #003770;
    color: #003770 !important;
    cursor: pointer;
    display: inline-block;
    font-family: UNI SANS REGULAR;
    font-size: 0.8em;

    height: 3.5em;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgb(237, 28, 36);
}

/* a */
a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: none;
    text-decoration: none;
}

a:hover {
    border-bottom-color: #E30613;
    color: #E30613;
    text-decoration: none;
}



 /* GUARDADO   */
<script src="{{ asset('js/wp-emoji-release.min.js') }}"
type="text/javascript" defer=""></script>

           <link rel="stylesheet" id="tribe-events-full-calendar-style-css"
href="{{ asset('css/tribe-events-full.min.css') }}" type="text/css"
media="all">
           <link rel="stylesheet" id="tribe-events-custom-jquery-styles-css"
href="{{ asset('css/jquery-ui-1.8.23.custom.css')}}" type="text/css"
media="all">
           <link rel="stylesheet" id="tribe-events-bootstrap-datepicker-css-css"
href="{{ asset('css/bootstrap-datepicker.standalone.min.css')}}"
type="text/css" media="all">
           <link rel="stylesheet" id="tribe-events-calendar-style-css"
href="{{ asset('css/tribe-events-theme.min.css')}}" type="text/css"
media="all">
           <link rel="stylesheet" id="tribe-accessibility-css-css"
href="{{ asset('css/accessibility.min.css')}}" type="text/css"
media="all">
           <link rel="stylesheet" id="tribe-events-calendar-full-mobile-style-css"
href="{{ asset('css/tribe-events-full-mobile.min.css')}}"
type="text/css" media="only screen and (max-width: 768px)">
           <link rel="stylesheet" id="tribe-events-calendar-mobile-style-css"
href="{{ asset('css/tribe-events-theme-mobile.min.css')}}"
type="text/css" media="only screen and (max-width: 768px)">



parte 2
<link rel="stylesheet" id="wp-blog-designer-fontawesome-stylesheets-css"
href="{{ asset('css/fontawesome-all.min.css')}}" type="text/css"
media="all">
<link rel="stylesheet" id="wp-blog-designer-css-stylesheets-css"
href="{{ asset('css/designer_css.css') }}" type="text/css"
media="all">
<link rel="stylesheet" id="contact-form-7-css"
href="{{ asset('css/styles.css') }}" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css"
href="{{ asset('css/fontawesome.min.css') }}" type="text/css"
media="all">

           <link rel="stylesheet" id="wpdm-front-css"
href="{{ asset('css/front.css') }}" type="text/css" media="all">
           <link rel="stylesheet" id="font-awesome-four-css"
href="{{ asset('css/font-awesome.min.css') }}" type="text/css"
media="all">
           <link rel="stylesheet" id="default-icon-styles-css"
href="{{ asset('css/wordpress-svg-icon-plugin-style.min.css') }}"
type="text/css" media="all">
           <link rel="stylesheet" id="dashicons-css"
href="{{ asset('css/dashicons.min.css') }}" type="text/css"
media="all">
           <link rel="stylesheet" id="altitude-google-fonts-css"
href="{{ asset('css/css') }}" type="text/css" media="all">

           <link rel="stylesheet" id="wp-featherlight-css"
href="{{ asset('css/wp-featherlight.min.css') }}" type="text/css"
media="all">

           <link type="text/css" rel="stylesheet"
href="{{ asset('css/sme-contactform-popup.css') }}">
           <link type="text/css" rel="stylesheet"
href="{{ asset('css/sumome-share-client.css') }}">
           <link type="text/css" rel="stylesheet"
href="{{ asset('css/listbuilder-popup.css') }}">





/*   */
